.eventItem {
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(1, 61, 86, 0.15);
	background: var(--color-white);
	transition: all 0.3s;
	width: fluid(287, 287);
	max-height: 439px;
	transition: all 0.3s ease-in-out;

	&:hover {
		background: var(--main-theme-color);
		color: #fff;
	}

	&:hover {
		svg {
			path {
				fill: white;
			}
		}
	}

	&:hover .eventDate {
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.4873 6.40723H10.5186C11.9883 6.40611 13.4571 6.4754 14.9199 6.61523L14.8594 11.0117C14.8427 12.2079 14.3557 13.3495 13.5039 14.1895C12.6519 15.0294 11.5031 15.5004 10.3066 15.5H5.69727C4.5011 15.5 3.35267 15.0293 2.50098 14.1895C1.64932 13.3495 1.16214 12.2078 1.14551 11.0117L1.08398 6.61523C2.54736 6.47544 4.01709 6.40599 5.4873 6.40723ZM11.2275 0.5C11.265 0.49998 11.3023 0.507246 11.3369 0.521484C11.3716 0.535853 11.4041 0.557417 11.4307 0.583984C11.4571 0.61048 11.4779 0.642184 11.4922 0.676758C11.5065 0.711444 11.5137 0.748598 11.5137 0.786133V1.65234L11.8516 1.76855C12.5786 2.01852 13.2306 2.44816 13.7471 3.01758C14.1014 3.40823 14.382 3.85671 14.582 4.34082C13.2308 4.22434 11.875 4.16592 10.5186 4.16699H5.4873C4.13049 4.16591 2.77442 4.22429 1.42285 4.34082C1.62297 3.8566 1.90435 3.4083 2.25879 3.01758C2.77532 2.4482 3.42732 2.01854 4.1543 1.76855L4.49219 1.65234V0.786133C4.49219 0.710259 4.52252 0.637637 4.57617 0.583984C4.62981 0.530401 4.7025 0.5 4.77832 0.5C4.85405 0.50007 4.92689 0.53046 4.98047 0.583984C5.0205 0.624075 5.04755 0.674761 5.05859 0.729492L5.06445 0.786133V1.52344H7.71582V0.786133C7.71582 0.748584 7.72392 0.711449 7.73828 0.676758C7.75261 0.64217 7.77336 0.610491 7.7998 0.583984C7.82631 0.557489 7.85797 0.535849 7.89258 0.521484C7.9273 0.507117 7.96535 0.49998 8.00293 0.5C8.07876 0.50003 8.15145 0.530359 8.20508 0.583984C8.25868 0.637629 8.28906 0.710296 8.28906 0.786133V1.52344H10.9414V0.786133C10.9414 0.748603 10.9485 0.711435 10.9629 0.676758C10.9773 0.642042 10.9988 0.610556 11.0254 0.583984C11.0519 0.55747 11.0835 0.535831 11.1182 0.521484C11.1355 0.514345 11.1536 0.50947 11.1719 0.505859L11.2275 0.5Z' stroke='white'/%3E%3C/svg%3E%0A");
		}
	}

	&:hover .eventTime {
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.599609C12.0415 0.599609 15.4001 3.95945 15.4004 8.00391C15.4004 12.0538 12.1431 15.4092 8 15.4092C3.95835 15.4092 0.599609 12.0486 0.599609 8.00391C0.599871 3.95945 3.9585 0.599609 8 0.599609Z' stroke='white' stroke-width='1.2'/%3E%3Cpath d='M8.00388 9.2044C7.79055 9.2044 7.68389 9.09766 7.57722 8.99093C7.36389 8.77748 7.47056 8.45733 7.68389 8.24388L11.9506 5.04213C12.1639 4.82868 12.4839 4.93541 12.6972 5.14886C12.9106 5.36231 12.8039 5.68246 12.5906 5.89591L8.3239 9.09767C8.3239 9.20439 8.21721 9.2044 8.00388 9.2044Z' fill='white' stroke='white' stroke-width='0.3'/%3E%3Cpath d='M8.00076 9.20355C7.89409 9.20355 7.78744 9.20355 7.68077 9.09682L4.48077 6.96232C4.26744 6.74887 4.16076 6.42872 4.3741 6.21527C4.58743 6.00182 4.90744 5.89508 5.12077 6.10853L8.32078 8.24303C8.53411 8.45648 8.64078 8.77664 8.42745 8.99009C8.42745 9.09682 8.21409 9.20355 8.00076 9.20355Z' fill='white' stroke='white' stroke-width='0.3'/%3E%3C/svg%3E%0A");
		}
	}

	&:hover .eventLocations span:first-child {
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4014 0.50293C15.4259 0.507916 15.4498 0.520076 15.4688 0.538086C15.4877 0.556238 15.4964 0.574345 15.499 0.585938C15.5007 0.593786 15.5021 0.607646 15.4902 0.632812L8.8125 14.7305C8.79265 14.7723 8.76788 14.7928 8.74219 14.8047C8.71187 14.8187 8.66929 14.8252 8.62305 14.8174C8.57701 14.8096 8.54257 14.7902 8.52246 14.7705C8.50643 14.7547 8.49176 14.732 8.48828 14.6895L7.95117 8.14551L7.91602 7.7207L7.49023 7.68848L0.65332 7.16992C0.592089 7.16527 0.561117 7.14493 0.543945 7.12891C0.523786 7.11007 0.507701 7.08325 0.501953 7.05176C0.496271 7.02037 0.501702 6.99244 0.511719 6.97266C0.519824 6.95679 0.538617 6.93033 0.591797 6.90723L15.3145 0.513672C15.3507 0.497937 15.3793 0.498495 15.4014 0.50293Z' stroke='white'/%3E%3C/svg%3E%0A");
		}
	}

	@media (max-width: 768px) {
		width: 300px;
	}

	@media (max-width: 575px) {
		max-width: 100%;
		margin: 0 auto;
	}

	a {
		display: block;
		height: 100%;
	}

	:global {
		.event-item-img {
			position: relative;
			width: 100%;
			height: 191px;
			overflow: hidden;
			@media (max-width: 768px) {
				height: 200px;
			}
			img {
				@include abs-cover;
				height: 100%;
				width: 100%;
				max-height: 100%;
				z-index: 0;
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
				object-fit: cover;
				object-position: top center;
			}

			.row {
				gap: 8px;
				align-items: center;
				position: absolute;
				bottom: 10px;
				left: 10px;
				.brand {
					font-size: 14px;
					font-weight: 500;
					text-align: center;
					color: var(--color-white);
					padding: 3px 10px;
					background: var(--main-theme-color);
					border-radius: 3px;
				}

				.cat {
					font-size: 14px;
					font-weight: 500;
					text-align: center;
					color: var(--color-black);
					padding: 3px 10px;
					background: var(--color-white);
					border-radius: 3px;
				}
			}
		}
	}
}

.eventContent {
	padding: 16px;
	.eventTitle {
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 8px;
		line-height: 1.25;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		text-overflow: ellipsis;
		overflow: hidden;
		max-height: 48px;
		height: 48px;
	}

	.status {
		display: flex;
		gap: 0px;
		margin-bottom: 6px;

		svg {
			width: 17px;
			height: 16px;
		}
	}

	.eventDate,
	.eventTime,
	.eventLocations span:first-child {
		font-size: 16px;
		padding-left: 28px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 17px;
			height: 16px;
			left: 0;
			top: 0;
		}
	}

	.eventDate {
		margin-bottom: 6px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.4873 6.40723H10.5186C11.9883 6.40611 13.4571 6.4754 14.9199 6.61523L14.8594 11.0117C14.8427 12.2079 14.3557 13.3495 13.5039 14.1895C12.6519 15.0294 11.5031 15.5004 10.3066 15.5H5.69727C4.5011 15.5 3.35267 15.0293 2.50098 14.1895C1.64932 13.3495 1.16214 12.2078 1.14551 11.0117L1.08398 6.61523C2.54736 6.47544 4.01709 6.40599 5.4873 6.40723ZM11.2275 0.5C11.265 0.49998 11.3023 0.507246 11.3369 0.521484C11.3716 0.535853 11.4041 0.557417 11.4307 0.583984C11.4571 0.61048 11.4779 0.642184 11.4922 0.676758C11.5065 0.711444 11.5137 0.748598 11.5137 0.786133V1.65234L11.8516 1.76855C12.5786 2.01852 13.2306 2.44816 13.7471 3.01758C14.1014 3.40823 14.382 3.85671 14.582 4.34082C13.2308 4.22434 11.875 4.16592 10.5186 4.16699H5.4873C4.13049 4.16591 2.77442 4.22429 1.42285 4.34082C1.62297 3.8566 1.90435 3.4083 2.25879 3.01758C2.77532 2.4482 3.42732 2.01854 4.1543 1.76855L4.49219 1.65234V0.786133C4.49219 0.710259 4.52252 0.637637 4.57617 0.583984C4.62981 0.530401 4.7025 0.5 4.77832 0.5C4.85405 0.50007 4.92689 0.53046 4.98047 0.583984C5.0205 0.624075 5.04755 0.674761 5.05859 0.729492L5.06445 0.786133V1.52344H7.71582V0.786133C7.71582 0.748584 7.72392 0.711449 7.73828 0.676758C7.75261 0.64217 7.77336 0.610491 7.7998 0.583984C7.82631 0.557489 7.85797 0.535849 7.89258 0.521484C7.9273 0.507117 7.96535 0.49998 8.00293 0.5C8.07876 0.50003 8.15145 0.530359 8.20508 0.583984C8.25868 0.637629 8.28906 0.710296 8.28906 0.786133V1.52344H10.9414V0.786133C10.9414 0.748603 10.9485 0.711435 10.9629 0.676758C10.9773 0.642042 10.9988 0.610556 11.0254 0.583984C11.0519 0.55747 11.0835 0.535831 11.1182 0.521484C11.1355 0.514345 11.1536 0.50947 11.1719 0.505859L11.2275 0.5Z' stroke='black'/%3E%3C/svg%3E%0A");
		}
	}

	.eventTime {
		margin-bottom: 6px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		&::before {
			margin-top: 2px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.599609C12.0415 0.599609 15.4001 3.95945 15.4004 8.00391C15.4004 12.0538 12.1431 15.4092 8 15.4092C3.95835 15.4092 0.599609 12.0486 0.599609 8.00391C0.599871 3.95945 3.9585 0.599609 8 0.599609Z' stroke='black' stroke-width='1.2'/%3E%3Cpath d='M8.00388 9.2044C7.79055 9.2044 7.68389 9.09766 7.57722 8.99093C7.36389 8.77748 7.47056 8.45733 7.68389 8.24388L11.9506 5.04213C12.1639 4.82868 12.4839 4.93541 12.6972 5.14886C12.9106 5.36231 12.8039 5.68246 12.5906 5.89591L8.3239 9.09767C8.3239 9.20439 8.21721 9.2044 8.00388 9.2044Z' fill='black' stroke='black' stroke-width='0.3'/%3E%3Cpath d='M8.00076 9.20355C7.89409 9.20355 7.78744 9.20355 7.68077 9.09682L4.48077 6.96232C4.26744 6.74887 4.16076 6.42872 4.3741 6.21527C4.58743 6.00182 4.90744 5.89508 5.12077 6.10853L8.32078 8.24303C8.53411 8.45648 8.64078 8.77664 8.42745 8.99009C8.42745 9.09682 8.21409 9.20355 8.00076 9.20355Z' fill='black' stroke='black' stroke-width='0.3'/%3E%3C/svg%3E%0A");
		}
	}

	.eventLocations {
		margin-bottom: 8px;
		span:first-child {
			max-width: max-content;
			display: block;
			line-height: 1.5;
			margin-bottom: 3px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			max-height: 20px;

			&::before {
				top: 2px;
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4014 0.842773C15.4259 0.84776 15.4498 0.859919 15.4688 0.87793C15.4877 0.896082 15.4964 0.914189 15.499 0.925781C15.5007 0.93363 15.5021 0.94749 15.4902 0.972656L8.8125 15.0703C8.79265 15.1122 8.76788 15.1326 8.74219 15.1445C8.71187 15.1586 8.66929 15.165 8.62305 15.1572C8.57701 15.1494 8.54257 15.13 8.52246 15.1104C8.50643 15.0946 8.49176 15.0718 8.48828 15.0293L7.95117 8.48535L7.91602 8.06055L7.49023 8.02832L0.65332 7.50977C0.592089 7.50512 0.561117 7.48477 0.543945 7.46875C0.523786 7.44992 0.507701 7.42309 0.501953 7.3916C0.496271 7.36021 0.501702 7.33229 0.511719 7.3125C0.519824 7.29663 0.538617 7.27017 0.591797 7.24707L15.3145 0.853516C15.3507 0.837781 15.3793 0.838339 15.4014 0.842773Z' stroke='black'/%3E%3C/svg%3E%0A");
			}
		}

		span:last-child {
			display: block;
			font-size: 16px;
			padding-left: 28px;
		}
	}

	.eventDesc {
		font-size: 16px;
		line-height: 1.3;
		display: block;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		line-clamp: 2;
		max-height: 45px;
		height: 45px;
		margin-bottom: 25px;
	}
}
