.eventsSection {
	padding: 37px 0 40px;

  .slider {
    padding: 10px 0;
  }

	.eventsSectionRow {
		margin: 17px 0;
		align-items: center;
		justify-content: space-between;
		gap: 17px;
	}

  .sectionTitle {
    font-size: 32px;
    font-weight: 500;
  }

  .allBtn {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 12px;
    background: var(--main-theme-color);
    height: max-content;
    &:hover {
      box-shadow: var(--box-shadow);
    }
  }

	@include mobile {
		padding: 50px 0 55px;
	}

	.eventsSliderBtns {
    width: calc(100% + 80px);
    top: 55%;
		@media (max-width: 768px) {
			width: 70%;
			top: 45%;
		}
		@media (max-width: 440px) {
			width: 270px;
			top: 30%;
		}
	}
}

.homeEventCard {
	@media (max-width: 768px) {
		margin: 0 auto;
	}
	:global {
		.event-item-img {
			height: 207px;
			@media (max-width: 768px) {
				height: 200px;
			}
		}
	}
}
