.eventsSection {
	padding: 60px 0 33px;
	.sliderWrapper {
		max-width: 1230px;
		margin: 0 auto;
		position: relative;
	}
	.slider {
		padding: 5px;
		display: flex;
		justify-content: center;
		:global {
			.swiper-wrapper {
				max-width: 1220px;
			}
		}
	}

	.eventsSectionRow {
		margin: 14px 0;
		align-items: center;
		justify-content: space-between;
		gap: 17px;
		@media (max-width: 768px) {
			padding-right: 24px;
		}
	}

	.sectionTitle {
		font-size: 32px;
		font-weight: 500;
		@media (max-width: 768px) {
			font-size: 20px;
		}
	}

	.allBtn {
		font-size: 18px;
		padding: 12px 24px;
		border-radius: 0px;
		background: var(--main-theme-color);
		height: max-content;
		transition: all 0.3s ease-in-out;
		&:hover {
			background: #b30834;
		}
		@media (max-width: 768px) {
			color: var(--main-link-color);
			background: none;
			font-size: 16px;
			padding: 0;
		}
	}

	@include mobile {
		padding: 0px 0 0px;
	}

	.eventsSliderBtns {
		width: calc(100% + 118px);
		top: 55%;
		@media (max-width: 1350px) {
			display: none;
		}
	}
}

.homeEventCard {
	@media (max-width: 768px) {
		margin: 0 auto;
	}
	:global {
		.event-item-img {
			height: 207px;
			@media (max-width: 768px) {
				height: 200px;
			}
		}
	}
}
