.partners {
	.btnRow {
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		.sectionTitle {
			font-size: 24px;
			font-weight: 500;
		}
		.allBtn {
			font-size: 18px;
			padding: 12px 24px;
			border-radius: 12px;
			background: var(--main-theme-color);
			height: max-content;
			&:hover {
				box-shadow: var(--box-shadow);
			}
		}
	}
	.partnersSliderBtns {
		top: 70%;
		width: calc(100% + 80px);
		@media (max-width: 768px) {
			display: none;
		}
	}
	.partnerSlider {
		.slider {
			height: 100%;
			padding: 10px 5px;
			@media (max-width: 768px) {
				padding: 10px 0;
			}
		}
		.partnerCard {
			box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
			padding: 8px;
			height: 100%;
			border-radius: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			.partnersLink {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 12px;
				color: var(--additional-theme-color-2);
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					@media (max-width: 499px) {
						height: 100%;
						object-fit: cover;
					}
				}
				p {
					font-size: 14px;
				}
			}
		}
		@media (max-width: 768px) {
			margin: 0;
		}
	}
}

