.videos {
	.videotapeSectionRow {
		margin: 0 0 20px 0;
		align-items: center;
		justify-content: space-between;
		gap: 17px;
	}
	.btnRow {
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		@media (max-width: 768px) {
			padding-right: 24px;
		}
		.sectionTitle {
			font-size: 24px;
			font-weight: 500;
			@media (max-width: 768px) {
				font-size: 20px;
			}
		}
	}
	.allBtn {
		font-size: 18px;
		padding: 12px 24px;
		border-radius: 12px;
		background: var(--main-theme-color);
		height: max-content;
		&:hover {
			box-shadow: var(--box-shadow);
		}
		@media (max-width: 768px) {
			color: var(--main-link-color);
			background: none;
			font-size: 16px;
			padding: 0;
		}
	}

	@media (max-width: 768) {
		padding: 0px 0 37px;
	}

	h4 {
		@media (max-width: 550px) {
			margin-bottom: 1px;
		}
	}

	.videotapeTop {
		@media (max-width: 550px) {
			margin-bottom: 17px;
		}
	}

	.videoSliderBtns {
		top: 50%;
		width: calc(100% + 80px);
		@media (max-width: 768px) {
			display: none;
		}
	}
}

