.footer {
	background: var(--main-theme-color);
	padding: 32px 0 32px 0;
	width: 100%;
	flex-shrink: 0;
	.footerCont {
		width: 100%;
		flex-direction: column;
		gap: 0;
		.topRow {
			width: 100%;
			padding-bottom: 32px;
			border-bottom: 1px solid #ffffff70;
			p {
				font-size: 20px;
				font-weight: 500;
				color: var(--additional-theme-color);
			}
		}
		.bottomRow {
			width: 100%;
			padding-top: 32px;
			gap: 32px;
			.contactsRow {
				width: 100%;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				flex-wrap: nowrap;
				.infoRow {
					flex-direction: row;
					gap: 56px;
					align-items: center;
					.infoEl {
						flex-direction: column;
						gap: 4px;
						.title {
							font-size: 16px;
							font-weight: 500;
							color: var(--additional-theme-color);
						}
						p {
							font-size: 16px;
							color: var(--additional-theme-color);
						}
					}
				}
				.socialsRow {
					flex-direction: row;
					gap: 24px;
					.socialEl {
						width: 32px;
						height: 32px;
						border-radius: 50%;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						background: var(--additional-theme-color);
					}
				}
			}
			.bottomInfo {
				width: 100%;
				flex-direction: row;
				gap: 0;
				justify-content: end;
				align-items: end;
				flex-wrap: nowrap;
				.author {
					flex-direction: column;
					gap: 16px;
					color: var(--additional-theme-color);
					max-width: 785px;
					font-size: 14px;
					.title {
						font-size: 14px;
						font-weight: 500;
						color: var(--additional-theme-color);
						text-wrap: nowrap;
					}
				}
				.developer {
					width: 100%;
					justify-content: end;
					align-items: end;
					color: var(--additional-theme-color);
					font-size: 14px;
				}
			}
		}
	}
}

